.header {
	display: flex;
	justify-content: center;
	padding: 10px;
	background: #212123;
}

.menu-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	background: #3E98D8;
	border-radius: 50%;
	margin-right: 15px;
	text-transform: uppercase;

	&.menu-link-active,
	&:hover {
		background: #FFF;
		.git-icon,
		.star-icon {
			fill: rgb(0, 208, 255);
		}
	}
}
