.repos-page-container {
	position: relative;
}

.back-btn {
	position: absolute;
	top: 15px;
	left: 15px;

	&:hover {
		svg {
			fill: #3E98D8;
		}
	}
}

.repos-list {
	max-height: 450px;
	overflow-x: hidden;
	overflow-y: auto;
}

.repos-list::-webkit-scrollbar {
	width: 7px;
	background-color: #E4E4E4;
}

.repos-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #3E98D8;
}
