.forms-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: calc(100vh - 65px);
	padding: 25px;
}

.btn {
	width: 145px;
	padding: 8px 12px;
	color: #FFF;
	border: 2px solid #FFF;
	background: #212123;
	font-size: 14px;
	text-transform: uppercase;
	transition: background-color 0.2s ease-in;

	&:hover {
		color: #212123;
		background: #FFF;
		border: 2px solid #212123;
	}
}
